# Ignore large datasets
datasets/
iclr19-graph2graph/

# Ignore large model weights and outputs
output/
pretrained_models/
*.pth
*.pickle
*.pkl
*.csv
*.gz

# Ignore supercomputer logs
logs/
slurm-*.out
slurm-*.err
*.png

# Keep the scripts but ignore the hidden python junk
__pycache__/
*.pyc
.ipynb_checkpoints/
